.history-container{
    display: flex;
    flex-direction: column;
    padding:4rem;
    background-color: antiquewhite;
}
.history-container img{
    height: 500px;
}
.history-container h1{
    margin-left: 15px;
}
.history-img{
    display: flex;
    justify-content: space-between;
}
.history-img img{
    width: 600px;
    height: 400px;
}