*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
}
.nav{
    height: 131px;
    background: #B4D3EB;
    color: #121334;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 4rem;
}
.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
}
.nav a img{
    width: 78px;
    height: 78px;
}
.nav li:active{
    background-color: #555;
}
.nav a:hover{
    background-color: #B4D3EB;
    ;
}
.donation{
    width: 176px;
    height: 56px;
    border-radius: 68px;
    opacity: 0px;
    color: #121334;
    background: #F8F5F1;
    text-align: center;
}
.dontaion button{
        width: 176px;
    height: 56px;
    border-radius: 68px;
    opacity: 0px;
    color: #121334;
    background: #F8F5F1;
    text-align: center;
}
.nav-img img{
    width: 1920px;
    height: 785px;
    gap: 0px;

}
.main-container{
    background-color: antiquewhite;
}
.main-header{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.main-text{
    display: flex;
}
.main-text img{
    width: 638px;
    height: 695px; 
    padding: 2rem;
}
.main-text p{
    width: 764px;
    height: 370px;
    padding: 2rem;
}
.reading{
    display: flex;
    flex-direction: column;
}
.reading a{
   text-decoration: none;
   padding: 2rem;
   margin-top: 200px;
}
.main-container2{
    background: #B4D3EB;

}
.main-header2{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.main-text2{
    display: flex;
}
.main-text2 img{
    width: 638px;
    height: 695px; 
    padding: 2rem;
}
.main-text2 p{
    width: 764px;
    height: 370px;
    padding: 2rem;
}
.reading2{
    display: flex;
    flex-direction: column;
}
.reading2 a{
   text-decoration: none;
   padding: 2rem;
   margin-top: 200px;
}
.blog-container{
    height: 1020px;
    background-color: antiquewhite;
}
.blog-title{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}
.blogs{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
}
.blog123{
    width: 400px;
    height: 557px;
}
.blog123 img{
    width: 400px;
    height: 400px;
}
.dontaions-container{
    display: flex;
    padding: 2rem;
    background: #B4D3EB;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;

}
.dontaions-container img{
    width: 673px;
    height: 732px;
}
.q1{
    display: flex;
    gap: 12rem;
}
.q1 input{
    border: none;
    background-color: #B4D3EB;
    color: #121334;
    margin-top: 2rem;
}
.dontaions-container button{
    width: 184px;
    height: 56px;
    background: #F8F5F1;
    border: none;
}
.bt1{
    margin-top: 2rem;
    width: 73px;
    height: 19px;
    color: #121334;
}
